@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: url("../img/bg.jpg") no-repeat;
    background-size: 100vw 100vh;
}

nav {
    width: 92vmin;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

nav a img {
    width: 50px;
}

nav h1 {
    font-family: "Roboto", serif;
    font-size: 25px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#scoreBox {
    position: absolute;
    top:50px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#hiScoreBox {
    position: absolute;
    top: 95px;
    right: 125px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

.sub-container {
    background: linear-gradient(#1e1e1e, rgb(39 39 39));
    width: 90vmin;
    height: 75vmin;
    border: 2px solid #000;
    border-radius: 6px;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
    box-shadow: 5px 6px 20px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.head {
    background-color: rgb(160, 196, 50);
    border: .25vmin solid #281111;
    border-radius: 10px;
    margin-left: 2px;
}

.tall {
    background: linear-gradient(rgb(160 196 50 / 49%), rgb(117 221 55 / 49%));
    border: .25vmin solid #281111;
    border-radius: 10px;
    margin: 1px;
}

.food {
    background: url("../img/frog-1.png") no-repeat;
    background-size: 100%;
}

.food-prince {
    background: url("../img/bunny.png") no-repeat;
    background-size: 100%;
    filter: brightness(0) saturate(100%) invert(88%) sepia(27%) saturate(4503%) hue-rotate(25deg) brightness(94%) contrast(104%);
}

.controls {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    grid-template-areas:
        ". up ."
        "left down right";
    gap: 10px;
    z-index: 1;
}

.control-btn {
    width: 60px;
    height: 60px;
    font-size: 24px;
    text-align: center;
}

#up {
    grid-area: up;
}

#down {
    grid-area: down;
}

#left {
    grid-area: left;
}

#right {
    grid-area: right;
}
.gameOver {
    width: 100vw;
    height: 100vh;
    background-color: #3f3d3d7c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-100%);
    transition: all 1s ease-in-out;
    z-index: 2;
    position: relative;
}
.gameOver h2, p, button {
    font-family: 'New Tegomin', serif;
    color: #000;
    z-index: 1;
}
.gameOver button {
    padding: 10px 20px;
    background-color: rgb(160, 196, 50);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}
@media only screen and (min-width: 321px) and (max-width: 768px) {
    body {
        background-size: cover;
    }
    nav {
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 2px;
    }
    nav h1 {
        font-size: 20px;
    }
    .controls {
        display: grid;
    }
    #scoreBox,
    #hiScoreBox {
        position: unset;
        text-align: center;
    }
}