@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    background: url("../img/bg.jpg") no-repeat;
    background-size: 100vw 100vh;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}
#hiScoreBox{
    position: absolute;
    top: 59px;
    right: 140px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}
.sub-container{
    background: linear-gradient(rgb(170, 236, 170), rgb(236, 236, 167));
    width: 90vmin;
    height: 90vmin;
    border: 2px solid #000;
    border-radius: 6px;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
}
.head{
    background-color: rgb(160, 196, 50);
    border: .25vmin solid #281111;
    border-radius: 10px;
    margin-left: 2px;
}
.tall{
    background: linear-gradient(rgb(160 196 50 / 49%), rgb(117 221 55 / 49%));
    border: .25vmin solid #281111;
    border-radius: 10px;
    margin: 1px;
}
.food{
    background: url("../img/frog-1.png") no-repeat;
    background-size: 100%;
}

.controls {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    grid-template-areas:
        ". up ."
        "left down right";
    gap: 10px;
}

.control-btn {
    width: 60px;
    height: 60px;
    font-size: 24px;
    text-align: center;
}
#up { grid-area: up; }
#down { grid-area: down; }
#left { grid-area: left; }
#right { grid-area: right; }

@media only screen and (min-width: 321px) and (max-width: 768px) {
    .controls { 
        display: grid;
    }
    #scoreBox,
    #hiScoreBox {
        right: unset;
    }
}
